.App {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30px auto auto;
  grid-template-areas:
    'TopBar'
    'TopWindow'
    'MainList';
}

.TopBar {
  grid-area: TopBar;
}

.TopWindow {
  grid-area: TopWindow;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: left;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%;
}

.MainList {
  grid-area: MainList;
}

@media screen and (min-width: 800px) {
  .TopWindow,
  .MainList {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (min-width: 1000px) {
  .TopWindow,
  .MainList {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (min-width: 1200px) {
  .TopWindow,
  .MainList {
    margin-left: 20%;
    margin-right: 20%;
  }
}
