.App {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px 25vh 70vh;
  grid-template-areas:
    'TopBar'
    'TopWindow'
    'MainList';
}

.TopBar {
  grid-area: TopBar;
}

.TopWindow {
  grid-area: TopWindow;
}

.MainList {
  grid-area: MainList;
}
