.Articles {
  display: grid;
  grid-template-rows: 50px auto 40px auto;
  grid-template-areas:
    'Filters'
    'ArticlesSm'
    'PageBar'
    'Post';
}

.Filters {
  grid-area: Filters;
}

.ArticlesSm {
  grid-area: ArticlesSm;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Post {
  grid-area: Post;
}

.PageBar {
  grid-area: PageBar;
}
