.Carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.Carousel img {
  align-content: auto;
  align-self: center;
  max-width: 97vw;
  box-shadow: 0px 2px 8px 2px rgba(160, 142, 142, 0.49);
}
