.Carousel {
  max-width: 100%;
  max-height: 100%;
}

.Carousel .Item {
  font-size: unset;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  z-index: 0;
}

.Carousel .Item img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 2px 8px 2px rgba(160, 142, 142, 0.49);
  overflow: hidden;
}
