.Comments {
  display: grid;
  grid-template-rows: auto 100px 50px;
  grid-template-areas:
    'CommentSm'
    'Post'
    'PageBar';
}

.CommentSm {
  grid-area: CommentSm;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Post {
  grid-area: Post;
}

.PageBar {
  grid-area: PageBar;
}
