.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

label {
  align-self: center;
}

p {
  text-align: center;
  margin: 0 0 0 0;
}

input {
  align-items: center;
}

h3 {
  text-align: center;
}
