.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.Login label {
  align-self: center;
}

.Login p {
  text-align: center;
  margin: 0 0 0 0;
}

.Login input {
  align-items: center;
}

.Login h3 {
  text-align: center;
}
