.PostArticle {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'Title Topic'
    'Body Body'
    'Submit Submit';
  font-size: 8pt;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 3px 3px 1px rgba(160, 142, 142, 0.49);
}

.PostArticle .Header {
  grid-area: Header;
  margin: 0;
  justify-self: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 10pt;
}

.PostArticle .Title {
  grid-area: Title;
  padding-left: 5px;
  text-align: center;
  justify-self: left;
}

.PostArticle .Topic {
  grid-area: Topic;
  text-align: center;
  align-content: center;
}

.PostArticle .Body {
  grid-area: Body;
  text-align: left;
  align-content: left;
  padding-left: 5px;
}

.PostArticle .Body input {
  min-width: 95%;
  min-height: auto;
}

.PostArticle .btn {
  grid-area: Submit;
  align-self: center;
  min-width: 12%;
  justify-self: center;
  padding-bottom: 5px;
}
