.TopBar {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-areas: 'Logo Mid User';
}

.Logo {
  grid-area: Logo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.TopBar img {
  align-self: center;
  max-height: 25px;
}

.Middle {
  grid-area: Mid;
}

.User {
  grid-area: User;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
