.App {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30px auto auto;
  grid-template-areas:
    'TopBar'
    'TopWindow'
    'MainList';
}

.TopBar {
  grid-area: TopBar;
}

.TopWindow {
  grid-area: TopWindow;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 10px;
  max-width: 100%;
  padding-left: 2px;
  padding-right: 2px;
}

.TopWindow .Deleted {
  justify-self: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: darkgreen;
  text-shadow: 0px 1px 2px #adadad;
}

.TopWindow .Loader {
  align-self: center;
  margin: 10px;
}

.TopWindow .Error {
  max-width: 100%;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

.TopWindow .Error img {
  align-content: center;
  max-width: 100%;
  max-height: 100%;
}

.TopWindow .Error h3 {
  text-align: center;
  text-justify: center;
}

.MainList {
  grid-area: MainList;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.MainList .Loader {
  align-self: center;
  margin: 10px;
}

.MainList .Error {
  max-width: auto;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

.MainList .Error img {
  align-content: center;
  max-width: 100%;
  max-height: 100%;
}

.MainList .Error h3 {
  text-align: center;
  text-justify: center;
}

@media screen and (min-width: 800px) {
  .TopWindow,
  .MainList {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (min-width: 1000px) {
  .TopWindow,
  .MainList {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (min-width: 1200px) {
  .TopWindow,
  .MainList {
    margin-left: 20%;
    margin-right: 20%;
  }
}
