.Comments {
  display: grid;
  grid-template-rows: 20px auto auto auto;
  grid-template-areas:
    'Title'
    'Post'
    'CommentSm'
    'PageBar';
  padding-bottom: 5px;
}

.Comments .Title {
  grid-area: Title;
  margin: 0;
  align-self: center;
  justify-self: center;
  padding-bottom: 5px;
  text-shadow: 0px 1px 2px #adadad;
}

.CommentSm {
  grid-area: CommentSm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 3px 3px 1px rgba(160, 142, 142, 0.49);
  border-radius: 7px;
  padding: 2px;
}

.Comments .Post {
  grid-area: Post;
  padding-left: 2px;
  padding-right: 2px;
}

.Comments .PageBar {
  grid-area: PageBar;
  padding-top: 4px;
  padding-bottom: 2px;
  box-shadow: 0px 3px 6px 1px rgba(160, 142, 142, 0.49);
  border-radius: 4px;
}

.Comments .PageBar p {
  margin: 0;
}
